[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass/
[submodule "third_party/AdaptiveCpp"]
	path = third_party/AdaptiveCpp
	url = git@github.com:AdaptiveCpp/AdaptiveCpp.git
